/*! ------------------------------------------------
 * File name: main-demo.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Loader
 *  2. Loading Animation
 *  3. Fonts
 *  4. Base CSS Styles
 *  5. Cursor
 *  6. Typography
 *  7. Buttons & Triggers
 *  8. Intro
 *  9. Preview Sections
 *  10. Sections Heading
 *  11. Preview Links
 *  12. Subscribe Section
 *  13. Footer
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Start */
/* ------------------------------------------------*/
/*! ------------------------------------------------
 * File name: loader.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Loader Styles
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: transparent;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.loader.loaded {
	opacity: 0;
	visibility: hidden;
}
.loader.is-animated .loader__content,
.loader.is-animated .loader__caption {
	-webkit-animation: 0.3s 1s ease-in-out 1 both fadeOut;
	-moz-animation: 0.3s 1s ease-in-out 1 both fadeOut;
	animation: 0.3s 1s ease-in-out 1 both fadeOut;
}

.loader__container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #050505;
}

.loader__content {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	text-align: center;
}

.loader__text {
	font: normal 700 3.4rem/0.94 "Arial", sans-serif;
	text-transform: uppercase;
	color: white;
}
.loader__text span {
	display: block;
	white-space: nowrap;
	-webkit-animation: 1s ease-in-out 0.1s infinite fadeIn;
	-moz-animation: 1s ease-in-out 0.1s infinite fadeIn;
	animation: 1s ease-in-out 0.1s infinite fadeIn;
}
.loader__text span.outline-white {
	color: white;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.loader__text span.outline-colored {
	color: #e51743;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #e51743;
}
.loader__text span:nth-of-type(2) {
	-webkit-animation: 1s ease-in-out 0.2s infinite fadeIn;
	-moz-animation: 1s ease-in-out 0.2s infinite fadeIn;
	animation: 1s ease-in-out 0.2s infinite fadeIn;
}
.loader__text span:nth-of-type(3) {
	-webkit-animation: 1s ease-in-out 0.3s infinite fadeIn;
	-moz-animation: 1s ease-in-out 0.3s infinite fadeIn;
	animation: 1s ease-in-out 0.3s infinite fadeIn;
}
.loader__text img {
	display: block;
	width: 100%;
	height: auto;
}
@media only screen and (min-width: 768px) {
	.loader__text {
		font-size: 5rem;
	}
	.loader__text span.outline-white {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;
	}
	.loader__text span.outline-colored {
		color: #e51743;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #e51743;
	}
}
@media only screen and (min-width: 1400px) {
	.loader__text {
		font-size: 6rem;
	}
	.loader__text span.outline-white {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;
	}
	.loader__text span.outline-colored {
		color: #e51743;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #e51743;
	}
}

.loader__caption {
	position: absolute;
	bottom: 20px;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.loader__caption p,
.loader__caption a {
	font: normal 500 1.2rem/1.2 "Arial", sans-serif;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
}
.loader__caption a {
	color: rgba(255, 255, 255, 0.8);
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* ------------------------------------------------*/
/* Loader Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loader End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loading Animation Start */
/* ------------------------------------------------*/
body .headline {
	opacity: 0;
}
body header .logo,
body header .buttons {
	opacity: 0;
}
body .intro__illustrations .illustration-1,
body .intro__illustrations .illustration-2,
body .intro__illustrations .illustration-3,
body .intro__illustrations .illustration-4,
body .intro__illustrations .illustration-5,
body .intro__illustrations .object-1,
body .intro__illustrations .object-2 {
	opacity: 0;
}
body.loaded .headline {
	-webkit-animation: 0.3s 0.3s ease-in-out 1 both slideInUp;
	-moz-animation: 0.3s 0.3s ease-in-out 1 both slideInUp;
	animation: 0.3s 0.3s ease-in-out 1 both slideInUp;
}
body.loaded header .logo,
body.loaded header .buttons {
	-webkit-animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
	-moz-animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
	animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
}
body.loaded .intro__illustrations .illustration-1 {
	-webkit-animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
	-moz-animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
	animation: 0.6s 0.3s ease-in-out 1 both fadeIn;
}
body.loaded .intro__illustrations .illustration-2 {
	-webkit-animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
	-moz-animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
	animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
}
body.loaded .intro__illustrations .illustration-4 {
	-webkit-animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
	-moz-animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
	animation: 0.3s 0.9s ease-in-out 1 both slideInUp;
}
body.loaded .intro__illustrations .illustration-3 {
	-webkit-animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
	-moz-animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
	animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
}
body.loaded .intro__illustrations .illustration-5 {
	-webkit-animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
	-moz-animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
	animation: 0.3s 1.1s ease-in-out 1 both slideInUp;
}
body.loaded .intro__illustrations .object-1 {
	-webkit-animation: 0.6s 1.5s ease-in-out 1 both slideInUp;
	-moz-animation: 0.6s 1.5s ease-in-out 1 both slideInUp;
	animation: 0.6s 1.5s ease-in-out 1 both slideInUp;
}
body.loaded .intro__illustrations .object-2 {
	-webkit-animation: 0.6s 1.5s ease-in-out 1 both slideInDown;
	-moz-animation: 0.6s 1.5s ease-in-out 1 both slideInDown;
	animation: 0.6s 1.5s ease-in-out 1 both slideInDown;
}

/* ------------------------------------------------*/
/* Loading Animation End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Fonts Start */
/* ------------------------------------------------*/
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Montserrat-Light/Montserrat-Lightd41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-Light/Montserrat-Light.woff2") format("woff2"),
		url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"),
		url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"),
		url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Montserrat-Regular/Montserrat-Regulard41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2")
			format("woff2"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.woff")
			format("woff"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf")
			format("truetype"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Montserrat-Medium/Montserrat-Mediumd41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2")
			format("woff2"),
		url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"),
		url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf")
			format("truetype"),
		url("../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBoldd41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2")
			format("woff2"),
		url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff")
			format("woff"),
		url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf")
			format("truetype"),
		url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Montserrat-Bold/Montserrat-Boldd41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat")
			format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBoldd41d.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff2")
			format("woff2"),
		url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff")
			format("woff"),
		url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf")
			format("truetype"),
		url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg#Montserrat")
			format("svg");
}
/* ------------------------------------------------*/
/* Fonts End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Base CSS Styles Start */
/* ------------------------------------------------*/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}

input::-moz-focus-inner {
	border: 0 !important;
}

::-moz-selection {
	background-color: #9b9b9b;
	color: white;
	text-shadow: none;
}

::selection {
	background-color: #9b9b9b;
	color: white;
	text-shadow: none;
}

html {
	font-family: sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	min-width: 320px;
	overflow-x: hidden !important;
	font: normal 400 1.6rem/1.4 "Montserrat", sans-serif;
	background-color: #050505;
	color: rgba(255, 255, 255, 0.8);
}

section {
	position: relative;
	min-width: 320px;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.overflow-hidden {
	overflow: hidden !important;
}

.color-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.color-layer-medium {
	background-color: rgba(0, 0, 0, 0.4);
}

.color-layer-dark {
	background-color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------------------------*/
/* Base CSS Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Cursor Styles Start */
/* ------------------------------------------------*/
.cursor {
	display: block;
	position: fixed;
	width: 14px;
	height: 14px;
	margin-top: -7px;
	margin-left: -7px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: white;
	mix-blend-mode: difference;
	pointer-events: none;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transition: -webkit-transform 0.4s
		cubic-bezier(0.75, -0.27, 0.3, 1.33);
	transition: -webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
	-o-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
	-moz-transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33),
		-moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
	transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
	transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33),
		-webkit-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33),
		-moz-transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33);
	z-index: 9999;
}

@supports not (mix-blend-mode: difference) {
	.cursor {
		opacity: 0.7;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.cursor {
		visibility: hidden;
	}
}
.touch .cursor {
	display: none;
}

.cursor-s {
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-ms-transform: scale(1.8);
	transform: scale(1.8);
}

.cursor-l {
	-webkit-transform: scale(4.2);
	-moz-transform: scale(4.2);
	-ms-transform: scale(4.2);
	transform: scale(4.2);
}

/* ------------------------------------------------*/
/* Cursor Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography Start */
/* ------------------------------------------------*/
h1 {
	font: normal 700 3.6rem/0.9 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
}
h1 span.outline-white {
	color: white;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
h1 span.outline-colored {
	color: #e51743;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #e51743;
}
h1 span.colored {
	color: #e51743;
}
h1.medium {
	font-size: 8rem;
}
h1.medium span.outline-white {
	color: white;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}
h1.medium span.outline-colored {
	color: #e51743;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #e51743;
}
@media only screen and (min-width: 768px) {
	h1 {
		max-width: 650px !important;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 5.6rem;
		max-width: 1000px !important;
	}
	h1.medium {
		font-size: 11rem;
	}
}
@media only screen and (min-width: 1400px) {
	h1 {
		font-size: 6rem;
	}
}

.section-caption {
	display: block;
	position: relative;
	opacity: 0.5;
	font: normal 800 13.4rem/0.84 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: #e51743;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #e51743;
}
.section-caption.bright {
	opacity: 1;
}
.section-caption.left {
	right: 32px;
	text-align: left;
}
.section-caption.right {
	left: 32px;
	text-align: right;
}
@media only screen and (min-width: 768px) {
	.section-caption {
		font-size: 13.4rem;
	}
	.section-caption.left {
		right: 42px;
	}
	.section-caption.right {
		left: 42px;
	}
}
@media only screen and (min-width: 1200px) {
	.section-caption {
		font-size: 20rem;
	}
	.section-caption.left {
		right: 62px;
	}
	.section-caption.right {
		left: 62px;
	}
}

.heading__title {
	font: normal 700 2.8rem/1 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
}
@media only screen and (min-width: 768px) {
	.heading__title {
		max-width: 500px;
		margin: 0 auto;
		font-size: 4rem;
	}
}
@media only screen and (min-width: 1400px) {
	.heading__title {
		max-width: 600px;
		font-size: 5rem;
	}
}

.heading__subtitle {
	font: normal 400 1.4rem/1.4 "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 1.4rem;
}
@media only screen and (min-width: 768px) {
	.heading__subtitle {
		max-width: 500px;
		margin: 2.4rem auto 0;
	}
}
@media only screen and (min-width: 1200px) {
	.heading__subtitle {
		font-size: 1.6rem;
	}
}
@media only screen and (min-width: 1400px) {
	.heading__subtitle {
		max-width: 600px;
		font-size: 1.6rem;
	}
}

.links__caption p {
	margin-top: 1.4rem;
	font: normal 400 1.1rem/1.2 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
	.links__caption p {
		margin-top: 1.4rem;
		font-size: 1.2rem;
	}
}

.subscribe__title .title {
	font: normal 700 2.8rem/1 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
}
.subscribe__title .title span {
	color: #e51743;
}
.subscribe__title .subtitle {
	font: normal 400 1.4rem/1.4 "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	max-width: 460px;
	margin: 2.4rem auto 0;
}
@media only screen and (min-width: 768px) {
	.subscribe__title .title {
		font-size: 4rem;
	}
}
@media only screen and (min-width: 1200px) {
	.subscribe__title .subtitle {
		font-size: 1.6rem;
	}
}

.footer p {
	font: normal 600 1.2rem/1.2 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
}
.footer a {
	font: normal 600 1.2rem/1.2 "Montserrat", sans-serif;
	color: white;
}
.no-touch .footer a:hover {
	color: #e51743;
}
.footer i {
	color: #e51743;
}
@media only screen and (min-width: 768px) {
	.footer p,
	.footer a {
		font-size: 1.4rem;
	}
}

/* ------------------------------------------------*/
/* Typography End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Triggers Start */
/* ------------------------------------------------*/
.btn {
	position: relative;
	display: block;
	border: none;
	outline: 0;
	padding: 0;
	font: normal 600 1.4rem/1.2 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
@media only screen and (min-width: 576px) {
	.btn {
		display: inline-block;
	}
}
.no-touch .btn:hover {
	color: white;
}
.no-touch .btn:hover .btn-icon-right {
	-webkit-transform: translateX(7px);
	-moz-transform: translateX(7px);
	-ms-transform: translateX(7px);
	transform: translateX(7px);
}

.btn-cart {
	position: absolute;
	top: 0;
	right: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 2.2rem;
	text-align: right;
}
.btn-cart .caption {
	display: none;
}
@media only screen and (min-width: 1200px) {
	.btn-cart {
		width: auto;
		height: auto;
		font-size: 1.4rem;
		overflow: visible;
		line-height: normal;
	}
	.btn-cart::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -4px;
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background-color: #e51743;
		-webkit-transition: width 0.3s ease-in-out;
		-o-transition: width 0.3s ease-in-out;
		-moz-transition: width 0.3s ease-in-out;
		transition: width 0.3s ease-in-out;
	}
	.btn-cart i {
		display: none;
	}
	.btn-cart .caption {
		display: block;
	}
	.no-touch .btn-cart:hover::after {
		width: 0%;
	}
}

.btn-fill {
	background-color: #e51743;
	height: 4.4rem;
	line-height: 4.4rem;
	padding: 0 2rem;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.no-touch .btn-fill:hover {
	background-color: #e82e56;
}

.to-top {
	display: inline-block;
	width: 4.4rem;
	height: 4.4rem;
	line-height: 4.4rem;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: #e51743;
	overflow: hidden;
	z-index: 3;
	color: white;
	font-size: 1.4rem;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.no-touch .to-top:hover {
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-o-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
	opacity: 1;
	color: white;
}
.to-top.is-visible,
.to-top.fade-out {
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-o-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}
.to-top.is-visible {
	visibility: visible;
	opacity: 1;
}
.to-top.fade-out {
	opacity: 0.4;
}
@media only screen and (min-width: 768px) {
	.to-top {
		position: fixed;
		right: 20px;
		bottom: 20px;
	}
}

/* ------------------------------------------------*/
/* Buttons & Triggers End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Intro Start */
/* ------------------------------------------------*/
.intro {
	position: relative;
	background-image: url("../img/demo/bg-demo.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	-moz-background-size: cover;
	background-size: cover;
	padding-bottom: 150px;
}
.intro .color-layer {
	background-image: url("../img/demo/demo-pattern.svg");
	background-repeat: repeat-x;
	background-position: left bottom;
	-moz-background-size: auto;
	background-size: auto;
}
@media only screen and (min-width: 768px) {
	.intro {
		padding-bottom: 350px;
	}
}
@media only screen and (min-width: 992px) {
	.intro {
		padding-bottom: 460px;
	}
}
@media only screen and (min-width: 1400px) {
	.intro {
		padding-bottom: 660px;
	}
}

.intro__header {
	position: relative;
	padding: 3rem -moz-calc(10% - 1.5rem) 0 -moz-calc(10% - 1.5rem);
	padding: 3rem calc(10% - 1.5rem) 0 calc(10% - 1.5rem);
	z-index: 1;
}
@media only screen and (min-width: 768px) {
	.intro__header {
		padding: 5rem -moz-calc(10% - 1.5rem) 0 -moz-calc(10% - 1.5rem);
		padding: 5rem calc(10% - 1.5rem) 0 calc(10% - 1.5rem);
	}
}
@media only screen and (min-width: 1200px) {
	.intro__header {
		padding: 6rem 8.5rem 0 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.intro__header {
		padding: 8rem 10.5rem 0 10.5rem;
	}
}

.header__logo {
	text-align: left;
}
.header__logo img {
	display: block;
	width: auto;
}

.header__buttons {
	position: relative;
	text-align: right;
}

.intro__content {
	position: relative;
}

.headline {
	padding: 10rem -moz-calc(10% - 1.5rem);
	padding: 10rem calc(10% - 1.5rem);
	text-align: center;
}
@media only screen and (min-width: 1200px) {
	.headline {
		padding: 13rem 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.headline {
		padding: 16rem 10.5rem;
	}
}

.intro__illustrations {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	height: 227px;
	overflow: hidden;
	z-index: 10;
}
@media only screen and (min-width: 768px) {
	.intro__illustrations {
		height: 497px;
		bottom: -100px;
	}
}
@media only screen and (min-width: 992px) {
	.intro__illustrations {
		bottom: -134px;
		height: 671px;
	}
}
@media only screen and (min-width: 1400px) {
	.intro__illustrations {
		bottom: -170px;
		height: 941px;
	}
}

.illustration-1 {
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 0;
	width: 320px;
	height: 227px;
	background-image: url("../img/demo/illustration-1.png");
	background-position: center center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 1;
}
@media only screen and (min-width: 768px) {
	.illustration-1 {
		width: 700px;
		height: 497px;
	}
}
@media only screen and (min-width: 992px) {
	.illustration-1 {
		width: 946px;
		height: 671px;
	}
}
@media only screen and (min-width: 1400px) {
	.illustration-1 {
		width: 1326px;
		height: 941px;
	}
}

.illustration-2,
.illustration-3,
.illustration-4,
.illustration-5 {
	display: none;
}
@media only screen and (min-width: 1200px) {
	.illustration-2,
	.illustration-3,
	.illustration-4,
	.illustration-5 {
		display: block;
	}
}

.illustration-2 {
	position: absolute;
	left: 66px;
	top: 200px;
	width: 516px;
	height: 290px;
	background-image: url("../img/demo/illustration-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 1200px) {
	.illustration-2 {
		left: 38px;
		top: 140px;
		width: 360px;
		height: 202px;
	}
}
@media only screen and (min-width: 1400px) {
	.illustration-2 {
		left: 50px;
		top: 196px;
		width: 516px;
		height: 290px;
	}
}

.illustration-3 {
	position: absolute;
	left: 118px;
	top: 414px;
	width: 300px;
	height: 225px;
	background-image: url("../img/demo/illustration-3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 1200px) {
	.illustration-3 {
		left: 90px;
		top: 230px;
		width: 208px;
		height: 235px;
	}
}
@media only screen and (min-width: 1400px) {
	.illustration-3 {
		left: 120px;
		top: 324px;
		width: 300px;
		height: 339px;
	}
}

.illustration-4 {
	position: absolute;
	right: 60px;
	top: 240px;
	width: 516px;
	height: 290px;
	background-image: url("../img/demo/illustration-4.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 1200px) {
	.illustration-4 {
		right: 60px;
		top: 170px;
		width: 360px;
		height: 202px;
	}
}
@media only screen and (min-width: 1400px) {
	.illustration-4 {
		right: 60px;
		top: 240px;
		width: 516px;
		height: 290px;
	}
}

.illustration-5 {
	position: absolute;
	right: -120px;
	top: 420px;
	width: 516px;
	height: 290px;
	background-image: url("../img/demo/illustration-5.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 1200px) {
	.illustration-5 {
		right: -80px;
		top: 290px;
		width: 360px;
		height: 202px;
	}
}
@media only screen and (min-width: 1400px) {
	.illustration-5 {
		right: -120px;
		top: 424px;
		width: 516px;
		height: 290px;
	}
}

/* ------------------------------------------------*/
/* Intro End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Sections Start */
/* ------------------------------------------------*/
.demo {
	padding: 3rem 0;
	background-color: #141414;
}
.demo.first-section {
	padding: 13rem 0 3rem 0;
}
@media only screen and (min-width: 768px) {
	.demo {
		padding: 4rem 0;
	}
	.demo.first-section {
		padding: 16rem 0 4rem 0;
	}
}
@media only screen and (min-width: 992px) {
	.demo.first-section {
		padding: 18rem 0 4rem 0;
	}
}
@media only screen and (min-width: 1200px) {
	.demo.first-section {
		padding: 19rem 0 4rem 0;
	}
}
@media only screen and (min-width: 1400px) {
	.demo {
		padding: 5rem 0;
	}
	.demo.first-section {
		padding: 22rem 0 5rem 0;
	}
}

.demo__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.demo.first-section .demo__background {
	top: 10rem;
}
@media only screen and (min-width: 768px) {
	.demo.first-section .demo__background {
		top: 11.6rem;
	}
}
@media only screen and (min-width: 992px) {
	.demo.first-section .demo__background {
		top: 14rem;
	}
}
@media only screen and (min-width: 1200px) {
	.demo.first-section .demo__background {
		top: 15rem;
	}
}
@media only screen and (min-width: 1400px) {
	.demo.first-section .demo__background {
		top: 17.4rem;
	}
}

/* ------------------------------------------------*/
/* Preview Sections End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Sections Heading Start */
/* ------------------------------------------------*/
.demo__heading {
	position: relative;
	width: 100%;
	padding: 5rem -moz-calc(10% - 1.5rem);
	padding: 5rem calc(10% - 1.5rem);
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.demo__heading {
		padding: 6rem -moz-calc(10% - 1.5rem);
		padding: 6rem calc(10% - 1.5rem);
	}
}
@media only screen and (min-width: 1200px) {
	.demo__heading {
		padding: 6rem 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.demo__heading {
		padding: 8rem 10.5rem;
	}
}

/* ------------------------------------------------*/
/* Sections Heading End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Links Start */
/* ------------------------------------------------*/
.demo__links {
	position: relative;
	padding: 0 -moz-calc(10% - 1.5rem);
	padding: 0 calc(10% - 1.5rem);
}
.demo__links a {
	display: block;
}
.no-touch .demo__links a:hover .links__image {
	-webkit-transform: translateY(-1.6rem);
	-moz-transform: translateY(-1.6rem);
	-ms-transform: translateY(-1.6rem);
	transform: translateY(-1.6rem);
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
		0 15px 12px rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 1200px) {
	.demo__links {
		padding: 0 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.demo__links {
		padding: 0 10.5rem;
	}
}

.links__item {
	position: relative;
	margin-bottom: 5rem;
}
@media only screen and (min-width: 768px) {
	.links__item {
		margin-bottom: 6rem;
	}
}
@media only screen and (min-width: 1400px) {
	.links__item {
		margin-bottom: 8rem;
	}
}

.links__image {
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
	-o-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
	-moz-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
	transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
}

.links__caption {
	display: block;
	text-align: center;
}

/* ------------------------------------------------*/
/* Preview Links End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Subscribe Section Start */
/* ------------------------------------------------*/
.subscribe {
	position: relative;
	min-width: 320px;
	background-color: #050505;
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	background-image: url("../img/demo/bg-demo-subscribe.jpg");
}
@media only screen and (min-width: 1200px) {
	.subscribe {
		background-attachment: fixed;
	}
}

.subscribe__container {
	position: relative;
	padding: 8rem -moz-calc(10% - 1.5rem);
	padding: 8rem calc(10% - 1.5rem);
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.subscribe__container {
		padding: 10rem -moz-calc(10% - 1.5rem);
		padding: 10rem calc(10% - 1.5rem);
	}
}
@media only screen and (min-width: 1200px) {
	.subscribe__container {
		padding: 10rem 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.subscribe__container {
		padding: 13rem 10.5rem;
	}
}

.subscribe__content {
	position: relative;
	padding: 2rem;
	border: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) {
	.subscribe__content {
		max-width: 500px;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1400px) {
	.subscribe__content {
		max-width: 560px;
	}
}

.subscribe__title {
	margin: 0 0 5rem 0;
}

.subscribe__form {
	position: relative;
	text-align: center;
}

.reply-group {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.reply-group.is-visible {
	opacity: 1;
}

.reply-group__icon {
	display: block;
	position: relative;
	font-size: 4rem;
	line-height: 1;
	color: #e51743;
}

.reply-group__title {
	font: normal 600 1.8rem/1.1 "Montserrat", sans-serif;
	text-transform: uppercase;
	color: white;
	margin-top: 0.7rem;
}

.reply-group__text {
	display: block;
	font: normal 300 1.4rem/1.4 "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 0.2rem;
}

form {
	position: relative;
	width: 100%;
	text-align: center;
}
form input,
form textarea {
	position: relative;
	display: block;
	width: 100%;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	padding: 1.2rem 1rem;
	font: normal 400 1.4rem/1.6 "Montserrat", sans-serif;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
	-moz-transition: border 0.3s;
	transition: border 0.3s;
}
form input {
	height: 4.4rem;
	margin: 0 0 0.8rem 0;
}
form .inputs-description {
	display: block;
	width: 100%;
	margin-bottom: 1.4rem;
	text-align: right;
	font: normal 400 1.2rem/1 "Montserrat", sans-serif;
}

.form-light input,
.form-light textarea {
	font-weight: 300;
}
.form-light ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.form-light :-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.form-light ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.form-light :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.form-light input:focus:required:invalid,
.form-light textarea:focus:required:invalid {
	color: white;
}
.form-light input:required:valid,
.form-light textarea:required:valid {
	color: white;
}
.form-light input,
.form-light textarea {
	border: 1px solid #ffffff;
	color: white;
}
.form-light input:focus,
.form-light textarea:focus {
	border: 1px solid #e51743;
}
.form-light .inputs-description {
	color: rgba(255, 255, 255, 0.6);
}

.form {
	opacity: 1;
	text-align: center;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.form.is-hidden {
	opacity: 0;
}

/* ------------------------------------------------*/
/* Subscribe Section End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Footer Start */
/* ------------------------------------------------*/
.footer {
	background-color: #050505;
	position: relative;
	padding: 5rem -moz-calc(10% - 1.5rem);
	padding: 5rem calc(10% - 1.5rem);
	text-align: center;
}
@media only screen and (min-width: 1200px) {
	.footer {
		padding: 5rem 8.5rem;
	}
}
@media only screen and (min-width: 1400px) {
	.footer {
		padding: 6rem 10.5rem;
	}
}

/* ------------------------------------------------*/
/* Footer End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Animations Start */
/* ------------------------------------------------*/
@-webkit-keyframes blockMove {
	0% {
		-webkit-transform: translateY(102%);
		transform: translateY(102%);
	}
	35% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	55% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-102%);
		transform: translateY(-102%);
	}
}
@-moz-keyframes blockMove {
	0% {
		-moz-transform: translateY(102%);
		transform: translateY(102%);
	}
	35% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	55% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-moz-transform: translateY(-102%);
		transform: translateY(-102%);
	}
}
@keyframes blockMove {
	0% {
		-webkit-transform: translateY(102%);
		-moz-transform: translateY(102%);
		transform: translateY(102%);
	}
	35% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	55% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-102%);
		-moz-transform: translateY(-102%);
		transform: translateY(-102%);
	}
}
@-webkit-keyframes itemsOpacity {
	0% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes itemsOpacity {
	0% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes itemsOpacity {
	0% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@-moz-keyframes slideInUp {
	from {
		-moz-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 10px, 0);
		-moz-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@-webkit-keyframes slideInDown {
	from {
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@-moz-keyframes slideInDown {
	from {
		-moz-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes slideInDown {
	from {
		-webkit-transform: translate3d(0, -30px, 0);
		-moz-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
		opacity: 0;
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
/* ------------------------------------------------*/
/* Animations End */
/* ------------------------------------------------*/
